/*Global*/

/*Classes*/
.start-page {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.quiz {
    text-align: center;

}

.choice-btn {
    display: flex;
}

.user-scores {
    display: flex;
    justify-content: space-evenly;
}

.high-score-page {

}
/*IDs*/
#high-score-info {
    display: flex;
    justify-content: space-evenly;
}

#end-game-btns {
    display: flex;
    justify-content: center;  
    margin-top: 15px; 
}

#gameover-page {
    display: flex;
    justify-content: center;
}